.mz-customer-service-page{
    .mz-l-container{
        .mz-l-creditCard{ 
            .credit-card-left-desc {
                max-width: 364px;
                margin: 30px auto 0;
            }
            .credit-card-left-desc p a {
                color: #666;
            }

            .credit-card-left-desc p {
                font-size: 14px;
                line-height: 1.4;
                color: #666;  
            }
 
            .mz-l-card-img{
                text-align: center;
            }
            .mz-l-card-reward-bar{
                background-color: #da1663;
                text-align: center;
                padding: 20px;
                margin-top: 20px; 
            }
            #mz-drop-zone-reward-bar{
                max-width: 1010px;
                margin: auto;
                h2{ 
                    font-size: 40px;
                    color: #fff;
                    line-height: 50px;
                    margin: 0; 
                    font-weight: 300; 
                }
            }
          
        }
        .mz-l-card-reward-logo-bar{
            .mz-l-card-reward-text{
                text-align: center;
                color: #00AEEF;
                font-size: 34px;
                margin-top: 20px;
                margin-bottom: 30px;
            }
            .mz-l-card-reward-logo{
                text-align: center;
                .brand-img{
                    display: inline-block;
                    float: none;
                    vertical-align: middle;
                }
            }
            .mz-l-cardholder-bar{
                border-top: 2px solid #cceffc;
                border-bottom: 2px solid #cceffc;
                padding: 30px 0 20px;
                margin: 0 auto;
                .mz-l-cardholder{
                    text-align: center;
                    border-right: 2px solid #cceffc;
                    &:last-child{border:none;}
                }
            }
            .mz-l-creditcard-final-text{
                float: left;
                width: 100%;
                color: #999999;
                margin-top: 20px;
                margin-bottom: 20px;
                p{
                  font-size: 14px;  
                }
                ol{
                    list-style: decimal;
                    padding-left:15px;
                    margin-top: 20px;  
                    font-size: 14px; 
                    li{
                        margin-bottom: 10px;
                        &:last-child{
                            margin-bottom: 0px;
                        }
                    }
                }
            }

            .reward-run {
                padding: 30px 0;  
                h3{
                    color: #00aeef;
                    font-size: 34px;
                    font-weight: 400;
                    margin: 0 0 20px; 
                }
                
            }
        }
    }
}
 
      
        
       