
/**** Site Changes for Mobile screens ****/

@media @mz-xs-media-query {  
	/**** My Account ****/
	#liteRegistrationModal {
		padding-right: 0!important;
		z-index: 999999;
		.modal-dialog {
			margin: 20px auto;
			max-width: 320px;
		}
		.modal-body {
			margin-top: 0;
			.pull-left, 
			.pull-right {
			    width: 100%;
			}
			.pull-left {
			    padding-right: 0;
			}
			.pull-right {
			    border-left: 0;
			    border-top: 1px solid #e0e0e0;
			    margin-top: 11px;
    			padding-top: 10px;
			    padding-left: 0;
			}
		}
		.modal-footer {
		    font-size: 12px;
		}
	}
	/****\ My Account ****/
	/**************Credit Card Page************/ 
	.mz-customer-service-page{
	    .mz-l-container{
	        .mz-l-creditCard{
	            .mz-l-card-img{margin-bottom: 10px;}
	            .mz-l-card-account{
	                .mz-l-card-accountCoupon{
	                    width: 100%;
	                    text-align: center;
	                }
	            }
	        }
	        .mz-l-card-reward-logo-bar{
	            .mz-l-card-reward-text{
	                text-align: center;
	                color: #00AEEF;
	                font-size: 34px;
	                margin-top: 20px;
	                margin-bottom: 30px;
	            }
	            .mz-l-card-reward-logo{
	                text-align: center;
	                .brand-img{
						display: block;
						float: left;
						margin-top: 10px;
						vertical-align: middle;
						margin-bottom: 10px;
	                }
	            }
	        }
	    }
	}
	/**************Credit Card Page************/ 
      
        
       


}