
#global-cart {
    width: 566px;
    border-radius: 0px;
    .media-list{
        .listing-wrapper{
            max-height: 300px;
            overflow-y: auto;
        }
    }
    .heading{
        p {
            font-size: 14px;
            color: #292929;
            font-family: @fontFamily; 
            font-weight: normal;     
        }
    } 
    padding: 0 0 15px;
        .arrow-up{
                &:after {
                border-bottom-color: #e0e0e0;
            }
        }
        .listing {
            padding: 15px 15px 30px 0;
            p {
                font-size: 14px;
                color: #393939;
                font-family: @fontFamily;
            }
            .title-box {
                    .media-heading {
                        a {
                    font-size: 14px;
                    color: #393939;
                    font-family: @fontFamily;
                    font-weight: 700;
                }
            }
         }
            .item-image{
                a {
                    width: 100px;
                    height: 100px;
                   }
            } 
                span {
                font-size: 14px;
                color: #ff6c1f;
                font-weight: 600;
                &.is-crossedout {
                    font-weight: 600;
                    font-size: 14px;
                    color: #262626;
                }
                .is-saleprice {
                    color: #262626;
                }
            }
           
        }
        .mz-discount-row{
            &.order-level-discount {
            background: #e0e0e0;
            padding: 10px 15px;
            text-align: center;
            .discount{
                font-weight: 600;
                color: #333333;
            }
        }
    }
    .total {
        padding: 15px;
        .price-details {
            span {
                font-size: 16px;
                font-weight: normal;
                color: #333333;
                font-family: @fontFamily;
              }
         }
    }
    .checkout{
        a{
            font-weight: normal;
            font-size: 16px;
            color: #666666;
        }
        .button_primary {
            background: #ff6c1f;
            font-size: 16px;
            width: 100%;
            height: 40px;
        }
    }
}