
/**** Styles For Harmon Discount ****/ 

.mz-pageheader{
	.ml-header-links-wrapper{
		background: #e0e0e0;
		a{
			color: #000;
			&:visited{
				color: #000; 
			} 
		}  
	}
}
#home-promo-wrapper{
	box-shadow: none;
	background: #e0e0e0;
	font-size: 16px;
	padding: 7px 15px;      
}
.bx-wrapper{
	.bx-pager{
		bottom: 0;    
		&.bx-default-pager{
			a{
				width: 15px;
				height: 15px;
				border-radius: 50%;  
			}  
		}   
	}
}
.mz-sitenav{
	background: #e20177; 
}
footer{
	background: #000; 
}